body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.p-4 {
  padding: 1rem;
}

.bg-grey-lighter {
  background-color: #f1f5f8;	
}

.min-h-screen	{
  min-height: 100vh;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.w-1\/3 {
  width: 33.3%;
}

.font-bold {
  font-weight: 700;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.complexity-low {
  color: green;
}

.complexity-mid {
  color: orange;
}

.complexity-high {
  color: red;
}

.justify-between {
  justify-content: space-between;
}

.red {
  color: red;
}

.mr-2 {
  margin-right: 0.5rem;
}

.bg-green {
  background-color: green;
}

.bg-red {
  background-color: red;
}

.text-white {
  color: white;
}

.p-2 {
  padding: 0.5rem;
}

.justify-end {
  justify-content: flex-end;
}

.w-64 {
  width: 16rem;
}